<h1>Add a new Service</h1>
<div class='container'>
  <form action='/services' method='POST'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>

    <div class='form-group'>
      <label for='name'>Name
        <input type='text' class='form-control' id='name' name='services[name]'>
      </label>
    </div>

    <div class='form-group'>
      <label for='description'>Description
        <input type='text' class='form-control' id='description' name='services[description]'>
      </label>
    </div>

    <div class='form-group'>
      <label for='website'>Website
        <input type='text' class='form-control' id='website' name='services[website]'>
      </label>
    </div>

    <div class='form-group'>
      <label>Hours of Operations</label>
        <div class='form-group'>
          <div class='form-group'>
            Sunday
            <label for='sunday-open'>Open
              <select class='form-control' id='sunday-open' name='services[hours][sunday][open]'>
                <option value='12 AM'>12 AM</option>
                <option value='1 AM'>1 AM</option>
                <option value='2 AM'>2 AM</option>
                <option value='3 AM'>3 AM</option>
                <option value='4 AM'>4 AM</option>
                <option value='5 AM'>5 AM</option>
                <option value='6 AM'>6 AM</option>
                <option value='7 AM'>7 AM</option>
                <option value='8 AM'>8 AM</option>
                <option value='9 AM'>9 AM</option>
                <option value='10 AM'>10 AM</option>
                <option value='11 AM'>11 AM</option>
                <option value='12 PM'>12 PM</option>
                <option value='1 PM'>1 PM</option>
                <option value='2 PM'>2 PM</option>
                <option value='3 PM'>3 PM</option>
                <option value='4 PM'>4 PM</option>
                <option value='5 PM'>5 PM</option>
                <option value='6 PM'>6 PM</option>
                <option value='7 PM'>7 PM</option>
                <option value='8 PM'>8 PM</option>
                <option value='9 PM'>9 PM</option>
                <option value='10 PM'>10 PM</option>
                <option value='11 PM'>11 PM</option>
              </select>
            </label>
            <label for='sunday-close'>Close
              <select class='form-control' id='sunday-close' name='services[hours][sunday][close]'>
                <option value='12 AM'>12 AM</option>
                <option value='1 AM'>1 AM</option>
                <option value='2 AM'>2 AM</option>
                <option value='3 AM'>3 AM</option>
                <option value='4 AM'>4 AM</option>
                <option value='5 AM'>5 AM</option>
                <option value='6 AM'>6 AM</option>
                <option value='7 AM'>7 AM</option>
                <option value='8 AM'>8 AM</option>
                <option value='9 AM'>9 AM</option>
                <option value='10 AM'>10 AM</option>
                <option value='11 AM'>11 AM</option>
                <option value='12 PM'>12 PM</option>
                <option value='1 PM'>1 PM</option>
                <option value='2 PM'>2 PM</option>
                <option value='3 PM'>3 PM</option>
                <option value='4 PM'>4 PM</option>
                <option value='5 PM'>5 PM</option>
                <option value='6 PM'>6 PM</option>
                <option value='7 PM'>7 PM</option>
                <option value='8 PM'>8 PM</option>
                <option value='9 PM'>9 PM</option>
                <option value='10 PM'>10 PM</option>
                <option value='11 PM'>11 PM</option>
              </select>
            </label>
          </div>

          <div class='form-group'>
            Monday
            <label for='monday-open'>Open
              <select class='form-control' id='monday-open' name='services[hours][monday][open]'>
                <option value='12 AM'>12 AM</option>
                <option value='1 AM'>1 AM</option>
                <option value='2 AM'>2 AM</option>
                <option value='3 AM'>3 AM</option>
                <option value='4 AM'>4 AM</option>
                <option value='5 AM'>5 AM</option>
                <option value='6 AM'>6 AM</option>
                <option value='7 AM'>7 AM</option>
                <option value='8 AM'>8 AM</option>
                <option value='9 AM'>9 AM</option>
                <option value='10 AM'>10 AM</option>
                <option value='11 AM'>11 AM</option>
                <option value='12 PM'>12 PM</option>
                <option value='1 PM'>1 PM</option>
                <option value='2 PM'>2 PM</option>
                <option value='3 PM'>3 PM</option>
                <option value='4 PM'>4 PM</option>
                <option value='5 PM'>5 PM</option>
                <option value='6 PM'>6 PM</option>
                <option value='7 PM'>7 PM</option>
                <option value='8 PM'>8 PM</option>
                <option value='9 PM'>9 PM</option>
                <option value='10 PM'>10 PM</option>
                <option value='11 PM'>11 PM</option>
              </select>
            </label>
            <label for='monday-close'>Close
              <select class='form-control' id='monday-close' name='services[hours][monday][close]'>
                <option value='12 AM'>12 AM</option>
                <option value='1 AM'>1 AM</option>
                <option value='2 AM'>2 AM</option>
                <option value='3 AM'>3 AM</option>
                <option value='4 AM'>4 AM</option>
                <option value='5 AM'>5 AM</option>
                <option value='6 AM'>6 AM</option>
                <option value='7 AM'>7 AM</option>
                <option value='8 AM'>8 AM</option>
                <option value='9 AM'>9 AM</option>
                <option value='10 AM'>10 AM</option>
                <option value='11 AM'>11 AM</option>
                <option value='12 PM'>12 PM</option>
                <option value='1 PM'>1 PM</option>
                <option value='2 PM'>2 PM</option>
                <option value='3 PM'>3 PM</option>
                <option value='4 PM'>4 PM</option>
                <option value='5 PM'>5 PM</option>
                <option value='6 PM'>6 PM</option>
                <option value='7 PM'>7 PM</option>
                <option value='8 PM'>8 PM</option>
                <option value='9 PM'>9 PM</option>
                <option value='10 PM'>10 PM</option>
                <option value='11 PM'>11 PM</option>
              </select>
            </label>
          </div>

          <div class='form-group'>
            Tuesday
            <label for='tuesday-open'>Open
              <select class='form-control' id='tuesday-open' name='services[hours][tuesday][open]'>
                <option value='12 AM'>12 AM</option>
                <option value='1 AM'>1 AM</option>
                <option value='2 AM'>2 AM</option>
                <option value='3 AM'>3 AM</option>
                <option value='4 AM'>4 AM</option>
                <option value='5 AM'>5 AM</option>
                <option value='6 AM'>6 AM</option>
                <option value='7 AM'>7 AM</option>
                <option value='8 AM'>8 AM</option>
                <option value='9 AM'>9 AM</option>
                <option value='10 AM'>10 AM</option>
                <option value='11 AM'>11 AM</option>
                <option value='12 PM'>12 PM</option>
                <option value='1 PM'>1 PM</option>
                <option value='2 PM'>2 PM</option>
                <option value='3 PM'>3 PM</option>
                <option value='4 PM'>4 PM</option>
                <option value='5 PM'>5 PM</option>
                <option value='6 PM'>6 PM</option>
                <option value='7 PM'>7 PM</option>
                <option value='8 PM'>8 PM</option>
                <option value='9 PM'>9 PM</option>
                <option value='10 PM'>10 PM</option>
                <option value='11 PM'>11 PM</option>
              </select>
            </label>
            <label for='tuesday-close'>Close
              <select class='form-control' id='tuesday-close' name='services[hours][tuesday][close]'>
                <option value='12 AM'>12 AM</option>
                <option value='1 AM'>1 AM</option>
                <option value='2 AM'>2 AM</option>
                <option value='3 AM'>3 AM</option>
                <option value='4 AM'>4 AM</option>
                <option value='5 AM'>5 AM</option>
                <option value='6 AM'>6 AM</option>
                <option value='7 AM'>7 AM</option>
                <option value='8 AM'>8 AM</option>
                <option value='9 AM'>9 AM</option>
                <option value='10 AM'>10 AM</option>
                <option value='11 AM'>11 AM</option>
                <option value='12 PM'>12 PM</option>
                <option value='1 PM'>1 PM</option>
                <option value='2 PM'>2 PM</option>
                <option value='3 PM'>3 PM</option>
                <option value='4 PM'>4 PM</option>
                <option value='5 PM'>5 PM</option>
                <option value='6 PM'>6 PM</option>
                <option value='7 PM'>7 PM</option>
                <option value='8 PM'>8 PM</option>
                <option value='9 PM'>9 PM</option>
                <option value='10 PM'>10 PM</option>
                <option value='11 PM'>11 PM</option>
              </select>
            </label>
          </div>

          <div class='form-group'>
            Wednesday
            <label for='wednesday-open'>Open
              <select class='form-control' id='wednesday-open' name='services[hours][wednesday][open]'>
                <option value='12 AM'>12 AM</option>
                <option value='1 AM'>1 AM</option>
                <option value='2 AM'>2 AM</option>
                <option value='3 AM'>3 AM</option>
                <option value='4 AM'>4 AM</option>
                <option value='5 AM'>5 AM</option>
                <option value='6 AM'>6 AM</option>
                <option value='7 AM'>7 AM</option>
                <option value='8 AM'>8 AM</option>
                <option value='9 AM'>9 AM</option>
                <option value='10 AM'>10 AM</option>
                <option value='11 AM'>11 AM</option>
                <option value='12 PM'>12 PM</option>
                <option value='1 PM'>1 PM</option>
                <option value='2 PM'>2 PM</option>
                <option value='3 PM'>3 PM</option>
                <option value='4 PM'>4 PM</option>
                <option value='5 PM'>5 PM</option>
                <option value='6 PM'>6 PM</option>
                <option value='7 PM'>7 PM</option>
                <option value='8 PM'>8 PM</option>
                <option value='9 PM'>9 PM</option>
                <option value='10 PM'>10 PM</option>
                <option value='11 PM'>11 PM</option>
              </select>
            </label>
            <label for='wednesday-close'>Close
              <select class='form-control' id='wednesday-close' name='services[hours][wednesday][close]'>
                <option value='12 AM'>12 AM</option>
                <option value='1 AM'>1 AM</option>
                <option value='2 AM'>2 AM</option>
                <option value='3 AM'>3 AM</option>
                <option value='4 AM'>4 AM</option>
                <option value='5 AM'>5 AM</option>
                <option value='6 AM'>6 AM</option>
                <option value='7 AM'>7 AM</option>
                <option value='8 AM'>8 AM</option>
                <option value='9 AM'>9 AM</option>
                <option value='10 AM'>10 AM</option>
                <option value='11 AM'>11 AM</option>
                <option value='12 PM'>12 PM</option>
                <option value='1 PM'>1 PM</option>
                <option value='2 PM'>2 PM</option>
                <option value='3 PM'>3 PM</option>
                <option value='4 PM'>4 PM</option>
                <option value='5 PM'>5 PM</option>
                <option value='6 PM'>6 PM</option>
                <option value='7 PM'>7 PM</option>
                <option value='8 PM'>8 PM</option>
                <option value='9 PM'>9 PM</option>
                <option value='10 PM'>10 PM</option>
                <option value='11 PM'>11 PM</option>
              </select>
            </label>
          </div>

          <div class='form-group'>
            Thursday
            <label for='thursday-open'>Open
              <select class='form-control' id='thursday-open' name='services[hours][thursday][open]'>
                <option value='12 AM'>12 AM</option>
                <option value='1 AM'>1 AM</option>
                <option value='2 AM'>2 AM</option>
                <option value='3 AM'>3 AM</option>
                <option value='4 AM'>4 AM</option>
                <option value='5 AM'>5 AM</option>
                <option value='6 AM'>6 AM</option>
                <option value='7 AM'>7 AM</option>
                <option value='8 AM'>8 AM</option>
                <option value='9 AM'>9 AM</option>
                <option value='10 AM'>10 AM</option>
                <option value='11 AM'>11 AM</option>
                <option value='12 PM'>12 PM</option>
                <option value='1 PM'>1 PM</option>
                <option value='2 PM'>2 PM</option>
                <option value='3 PM'>3 PM</option>
                <option value='4 PM'>4 PM</option>
                <option value='5 PM'>5 PM</option>
                <option value='6 PM'>6 PM</option>
                <option value='7 PM'>7 PM</option>
                <option value='8 PM'>8 PM</option>
                <option value='9 PM'>9 PM</option>
                <option value='10 PM'>10 PM</option>
                <option value='11 PM'>11 PM</option>
              </select>
            </label>
            <label for='thursday-close'>Close
              <select class='form-control' id='thursday-close' name='services[hours][thursday][close]'>
                <option value='12 AM'>12 AM</option>
                <option value='1 AM'>1 AM</option>
                <option value='2 AM'>2 AM</option>
                <option value='3 AM'>3 AM</option>
                <option value='4 AM'>4 AM</option>
                <option value='5 AM'>5 AM</option>
                <option value='6 AM'>6 AM</option>
                <option value='7 AM'>7 AM</option>
                <option value='8 AM'>8 AM</option>
                <option value='9 AM'>9 AM</option>
                <option value='10 AM'>10 AM</option>
                <option value='11 AM'>11 AM</option>
                <option value='12 PM'>12 PM</option>
                <option value='1 PM'>1 PM</option>
                <option value='2 PM'>2 PM</option>
                <option value='3 PM'>3 PM</option>
                <option value='4 PM'>4 PM</option>
                <option value='5 PM'>5 PM</option>
                <option value='6 PM'>6 PM</option>
                <option value='7 PM'>7 PM</option>
                <option value='8 PM'>8 PM</option>
                <option value='9 PM'>9 PM</option>
                <option value='10 PM'>10 PM</option>
                <option value='11 PM'>11 PM</option>
              </select>
            </label>
          </div>

          <div class='form-group'>
            Friday
            <label for='friday-open'>Open
              <select class='form-control' id='friday-open' name='services[hours][friday][open]'>
                <option value='12 AM'>12 AM</option>
                <option value='1 AM'>1 AM</option>
                <option value='2 AM'>2 AM</option>
                <option value='3 AM'>3 AM</option>
                <option value='4 AM'>4 AM</option>
                <option value='5 AM'>5 AM</option>
                <option value='6 AM'>6 AM</option>
                <option value='7 AM'>7 AM</option>
                <option value='8 AM'>8 AM</option>
                <option value='9 AM'>9 AM</option>
                <option value='10 AM'>10 AM</option>
                <option value='11 AM'>11 AM</option>
                <option value='12 PM'>12 PM</option>
                <option value='1 PM'>1 PM</option>
                <option value='2 PM'>2 PM</option>
                <option value='3 PM'>3 PM</option>
                <option value='4 PM'>4 PM</option>
                <option value='5 PM'>5 PM</option>
                <option value='6 PM'>6 PM</option>
                <option value='7 PM'>7 PM</option>
                <option value='8 PM'>8 PM</option>
                <option value='9 PM'>9 PM</option>
                <option value='10 PM'>10 PM</option>
                <option value='11 PM'>11 PM</option>
              </select>
            </label>
            <label for='friday-close'>Close
              <select class='form-control' id='friday-close' name='services[hours][friday][close]'>
                <option value='12 AM'>12 AM</option>
                <option value='1 AM'>1 AM</option>
                <option value='2 AM'>2 AM</option>
                <option value='3 AM'>3 AM</option>
                <option value='4 AM'>4 AM</option>
                <option value='5 AM'>5 AM</option>
                <option value='6 AM'>6 AM</option>
                <option value='7 AM'>7 AM</option>
                <option value='8 AM'>8 AM</option>
                <option value='9 AM'>9 AM</option>
                <option value='10 AM'>10 AM</option>
                <option value='11 AM'>11 AM</option>
                <option value='12 PM'>12 PM</option>
                <option value='1 PM'>1 PM</option>
                <option value='2 PM'>2 PM</option>
                <option value='3 PM'>3 PM</option>
                <option value='4 PM'>4 PM</option>
                <option value='5 PM'>5 PM</option>
                <option value='6 PM'>6 PM</option>
                <option value='7 PM'>7 PM</option>
                <option value='8 PM'>8 PM</option>
                <option value='9 PM'>9 PM</option>
                <option value='10 PM'>10 PM</option>
                <option value='11 PM'>11 PM</option>
              </select>
            </label>
          </div>

          <div class='form-group'>
            Saturday
            <label for='saturday-open'>Open
              <select class='form-control' id='saturday-open' name='services[hours][saturday][open]'>
                <option value='12 AM'>12 AM</option>
                <option value='1 AM'>1 AM</option>
                <option value='2 AM'>2 AM</option>
                <option value='3 AM'>3 AM</option>
                <option value='4 AM'>4 AM</option>
                <option value='5 AM'>5 AM</option>
                <option value='6 AM'>6 AM</option>
                <option value='7 AM'>7 AM</option>
                <option value='8 AM'>8 AM</option>
                <option value='9 AM'>9 AM</option>
                <option value='10 AM'>10 AM</option>
                <option value='11 AM'>11 AM</option>
                <option value='12 PM'>12 PM</option>
                <option value='1 PM'>1 PM</option>
                <option value='2 PM'>2 PM</option>
                <option value='3 PM'>3 PM</option>
                <option value='4 PM'>4 PM</option>
                <option value='5 PM'>5 PM</option>
                <option value='6 PM'>6 PM</option>
                <option value='7 PM'>7 PM</option>
                <option value='8 PM'>8 PM</option>
                <option value='9 PM'>9 PM</option>
                <option value='10 PM'>10 PM</option>
                <option value='11 PM'>11 PM</option>
              </select>
            </label>
            <label for='saturday-close'>Close
              <select class='form-control' id='saturday-close' name='services[hours][saturday][close]'>
                <option value='12 AM'>12 AM</option>
                <option value='1 AM'>1 AM</option>
                <option value='2 AM'>2 AM</option>
                <option value='3 AM'>3 AM</option>
                <option value='4 AM'>4 AM</option>
                <option value='5 AM'>5 AM</option>
                <option value='6 AM'>6 AM</option>
                <option value='7 AM'>7 AM</option>
                <option value='8 AM'>8 AM</option>
                <option value='9 AM'>9 AM</option>
                <option value='10 AM'>10 AM</option>
                <option value='11 AM'>11 AM</option>
                <option value='12 PM'>12 PM</option>
                <option value='1 PM'>1 PM</option>
                <option value='2 PM'>2 PM</option>
                <option value='3 PM'>3 PM</option>
                <option value='4 PM'>4 PM</option>
                <option value='5 PM'>5 PM</option>
                <option value='6 PM'>6 PM</option>
                <option value='7 PM'>7 PM</option>
                <option value='8 PM'>8 PM</option>
                <option value='9 PM'>9 PM</option>
                <option value='10 PM'>10 PM</option>
                <option value='11 PM'>11 PM</option>
              </select>
            </label>
          </div><!-- end saturday -->

        </div>
    </div><!-- hours of operations -->

    <!-- address -->
    <div class='address'>
      <div class='form-group'>
        <label for='street_number'>Street Number
          <input type='number' id='street_number' name='address[number]'>
        </label>
      </div>

      <div class='form-group'>
        <label for='street_name'>Street
          <input type='text' id='street_name' name='address[name]'>
        </label>
      </div>

      <div class='form-group'>
        <label for='city'>City
          <input type='text' id='city' name='address[city]'>
        </label>
      </div>

      <div class='form-group'>
        <label for='state'>State
          <select id='state' name='address[state]'>
            <option value='1'>Texas</option>
            <option value='2'>Washington</option>
          </select>
        </label>
      </div>

      <div class='form-group'>
        <label for='zip'>Zip Code
          <input type='number' id='zip' name='address[zip]'>
        </label>
      </div>
    </div><!-- end address div -->
    <!-- end address -->

    <!-- type -->

    <!-- end type -->

    <!-- contacts -->

    <!-- end contacts -->

    <!-- affiliations -->

    <!-- end affiliations -->

    <!-- required documents -->

    <!-- end required documents -->
    <input type='submit' value='Submit'>
  </form>
</div><!-- container-->
