@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "**/*";



.center {
  position: relative;
  top: 25%;
  width: 50%;
  text-align: justify;
  margin: 0 auto;
}

.center span {
  font-style: italic;
}
.center h1{
  font-size: 4em;
}
.center label {
  display: block;
  margin: 20px 0;
  font-size: 1.25em;
  font-weight: normal;
}
.center form {
  width: 100%;
}
.center input {
  border: none;
  border-bottom: 1px solid gray;
  float: right;
  width: 75%;
}

.center input[type='submit'] {
  border: none;
  border-radius: 5px;
  width: 75%;
  margin-top: 30px;
}

.center p {
  font-size: 1.25em;
}
.center textarea {
  float: right;
  width: 75%;
  height: 100px;
  border-radius: 5px;
}

.center h3{
  margin-bottom: 30px;
}

body, html{
	height: 100%;
}

#categories {
  height: 20%;
  overflow: auto;
}

.container-fluid {
  box-shadow: 0 2px 20px -2px whitesmoke;
}
.dropdown-menu{
  top: 70px;
}

#description {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 40%;
  margin: 15px;
  flex: auto;
}

#description p {
  font-size: 1.25em;
}

#description h1 {
  margin-top: 0;
}
#empty {
  border-top: 2px solid black;
  box-shadow: 10px 10px 5px #888;
}
#errors {
  color: red;
  position: absolute;
  bottom: 5vh;
  right: 1px;
  background: white;
  width: 18vw;
  padding: 10px;
  font-size: 1em;
  font-weight: bold;
}

#friends{
	background-image: image-url("1.jpg");
}

#getInvolved p {
  margin: 20px 0 30px 0;
  float: right;
}
#getInvolved .center {
  top: 15%;
}
#hands{
	background-image: image-url("1.jpg");
}

 #h {
  width: 100vw;
  background-color: white;
  height: 100%;
}

#hugs1{
  height: 200vh;
}

#imap {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

// #info {
//   display: inline-block;
//   width: 76%;
//   height:100%;
//   vertical-align: top;
//   margin-top: 2%;
// }

#map {
  display: inline-block;
  height: 55%;
  width: 35%;
  flex: auto;
  margin: 15px;
  padding-left: 25px;
}

.nav {
  height: 70px;
}
.navbar-brand img {
  width: 200px;
}
.navbar-brand{
  margin: 0;
  padding: 0;
}

.navbar-inverse {
  background-color: #22212F;
}
.nav a {
  font-size: 1.5em;

}
.nav {
  margin-top: 10px;
}


.navbar-inverse .navbar-brand {
  color: white;
}
.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-nav > li > a:hover ,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav > li > a:active ,
.navbar-inverse .navbar-brand:active{
  color: #C42023;
}

.nav > li > a {
  display: inline-block;
  font-weight: lighter;
}
#navbar li:before {
		content: "|";
		margin: 10px;
    color: gray;
	}

.navbar-nav, .navbar-right {
  margin-top: 20px;
}
/*scroll*/
.parallax {
	height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#splashinfo {
  width: 40%;
  color: whitesmoke;
  font-size: 1.75em;
  position: absolute;
  left: 5vw;
  top: 40vh;
  text-shadow: 5px 5px 10px #000000;
}
#splashinfo p {
  margin-top: 25px;
  width: 93%;
}

#splashinfo h1, {
  font-size: 1.75em;
}

.shadow {
  box-shadow: 0 0 25px 15px black;
  background: white;
  opacity: .8;
  position: absolute;
  width:80vw;
  height: 70vh;
  left: 10vw;
  overflow: hidden;
  z-index: 1;
}
#secondParallax {
  width: 50%;
  float: right;
  height: 50%;
  background-image: image-url("3.jpg") ;
  background-repeat-y: no-repeat;
  background-attachment: fixed;
  background-size: 50% 100%;
}


#services ul {
  padding-left: 0;
}

#services li {
  list-style-type: none;
  list-style-position: inside;
}
#services {
  display: inline-block;
  width: 18%;
  height: 90%;
  margin: 25px;
  flex: auto;
}

#services  h4 {
  margin-top: 5px;
}

#servicesList {
  overflow: auto;
  height: 70%;

}
#servicesSection {
  display: flex;
  padding: 40px;
}


.text {
  width: 50%;
  float: left;
  height: 50%;
}

#thirdParallax {
  width: 50%;
  float: left;
  height: 50%;
  background-image: image-url("4.jpg");
  background-repeat-y: no-repeat;
  background-attachment: fixed;
  background-size: 50% 100%;
}



::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}

::-webkit-scrollbar:horizontal {
    height: 6px;
}



/* General sizing */
ul.dropdown-lr {
  width: 300px;
}



/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}

@charset "UTF-8";

@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

// Footer css
.footer-distributed{
  background-color: #22212F;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
  background-color: #22212F;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-left img{
  width: 40%;
}
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
.footer-icons img {
  width: 100%;
  height: 100%;
}
